




@media(max-width : 550px){
  .header_ul{
    display: none;
  }  
  .header_button{
    display: none;
  }
  .fa-bars{
    display: block;
    font-size: 25px;
  }
  footer {
    padding: 30px 2%;
    align-items: center;
}
.footer_list1 {
    text-align: center;
}

}
